.EmployeeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive columns */
  grid-gap: 10px;
  background-color: #ffffff;
  padding: 10px;
}

.Employee {
  background-color: #9b9dde;
  border-radius: 20px;
  border: solid rgb(110, 0, 219);
  color:rgb(51, 0, 60);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  text-align: center;
}

.Name {
  font-size: 18px;
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-style: italic;
}

.email,
.phone {
  color: #ffffff;
}

.employeeImg {
  max-width: 100px;
}
